body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.calculator {
    width: 300px;
    background: black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
}
h2 {
    text-align: center;
    margin-bottom: 10px;
    color:whitesmoke;
}
#display {
    width: 100%;
    height: 25px;
    font-size: 28px;
    text-align: right;
    border: none;
    outline: none;
    padding-right: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: whitesmoke;
    color: black;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    height: 25px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    background:whitesmoke;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background: #dcdcdc;
}
button:active {
    transform: scale(0.95);
}
.special {
    background:grey;
}
.equal {
    background: grey;;
    color: black;
}
.equal:hover {
    background: #27ae60;
}
.zero {
    grid-column: 1 / span 2;
} 